[run]
branch = True
source =
    tortoise
omit =
    tortoise/contrib/pylint/*
    tortoise/contrib/test/nose2.py
    tortoise/contrib/quart/*
    tortoise/contrib/sanic/*
    tortoise/contrib/starlette/*
[report]
show_missing = True
