-r requirements.txt

# Optional dependencies
pyyaml>=4.2b1

## Database Drivers
asyncpg
aiomysql

# Dev Tools

## Administration tools
pip-tools

## Documentation tools
-r docs/requirements.txt

## Linter tools
mypy
flake8-isort
pylint
docutils
pygments
bandit
black;python_version>="3.6"

## Test tools
tox
asynctest
coveralls
pytest
pytest-cov
nose2

# Pypi
twine

# Sample integrations
hypercorn;python_version>="3.6"
quart;python_version>="3.6"
