-r requirements.txt

# Optional dependencies

## Database Drivers
asyncpg
aiomysql
aiosqlite

# Dev Tools

## Administration tools
pip-tools

## Documentation tools
-r docs/requirements.txt

## Linter tools
mypy
flake8-isort
pylint
docutils
pygments
yapf
bandit

## Test tools
tox
asynctest
green
coveralls
pytest
nose2
