ciso8601>=2.1.2; sys_platform != "win32" and implementation_name == "cpython"
uvloop>=0.12.0; sys_platform != "win32" and implementation_name == "cpython"
python-rapidjson; implementation_name == "cpython"
