-r requirements.txt

# Optional dependencies
pyyaml>=4.2b1

## Database Drivers
asyncpg
aiomysql

# Dev Tools

## Administration tools
pip-tools

## Documentation tools
-r docs/requirements.txt

## Linter tools
mypy
flake8-isort
pylint
docutils
pygments
yapf
bandit
black

## Test tools
tox
asynctest
green
coveralls
pytest
nose2

# Pypi
twine
