-e ..
-r ../requirements-accel.txt

## Database Drivers
asyncpg
aiomysql

# Dev Tools

## Administration tools
pip-tools

## Documentation tools
-r ../docs/requirements.in

## Linter tools
mypy
flake8-isort
flake8-comprehensions
darglint
pylint
docutils
pygments
bandit
black

## Test tools
tox
asynctest
green
coveralls
pytest<5.4 # Has annoying deprecation warning of itself?  >5.2, !=5.4.0, !=5.4.1
nose2
pytest-xdist
pytest-cov

# Pypi
twine

# Sample integration - Quart
quart

# Sample integration - Sanic
sanic

# Sample integration - Starlette
starlette
uvicorn

# Pydantic support
pydantic

# FastAPI support
fastapi

# Aiohttp support
aiohttp
