-e ..

# Optional dependencies
pyyaml>=4.2b1

## Database Drivers
asyncpg
aiomysql

# Dev Tools

## Administration tools
pip-tools

## Documentation tools
-r ../docs/requirements.in

## Linter tools
mypy
flake8-isort
pylint
docutils
pygments
bandit
black

## Test tools
tox
asynctest
green
coveralls
pytest
nose2
pytest-xdist
pytest-cov

# Pypi
twine<2.0

# Sample integration - Quart
wsproto;python_version>="3.7"
hypercorn;python_version>="3.7"
quart;python_version>="3.7"

# Sample integration - Sanic
sanic
uvloop>=0.12.0; sys_platform != "win32" and implementation_name == "cpython"

# Sample integration - Starlette
starlette
uvicorn
