-e ..

## Database Drivers
asyncpg
aiomysql
aioodbc

# Dev Tools

## Administration tools
pip-tools

## Documentation tools
-r ../docs/requirements.in

## Linter tools
mypy
flake8-isort
flake8-comprehensions
darglint
pylint
docutils
pygments
bandit
black

## Test tools
tox
asynctest
green
coveralls
pytest<5.4
nose2
pytest-xdist
pytest-cov

# Pypi
twine<2.0

# Optional accelerators
uvloop>=0.12.0; sys_platform != "win32" and implementation_name == "cpython"
python-rapidjson; implementation_name == "cpython"
iso8601

# Sample integration - Quart
quart

# Sample integration - Sanic
sanic

# Sample integration - Starlette
starlette
uvicorn

# Pydantic support
pydantic

# FastAPI support
fastapi
