name: gh-pages
on:
  push:
    branches:
      - develop
  release:
    types:
      - created
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: "3.9"
      - name: Install and configure Poetry
        run: |
          pip install -U pip poetry
          poetry config virtualenvs.create false
      - name: Build docs
        run: make docs
      - name: Deploy latest docs
        uses: peaceiris/actions-gh-pages@v3
        with:
          personal_token: ${{ secrets.PERSONAL_TOKEN }}
          publish_dir: build/html
          external_repository: tortoise/tortoise.github.io
          publish_branch: master
      - name: Deploy release docs
        if: ${{ github.event_name }} == "release" && ${{ github.event.action }} == "created"
        uses: peaceiris/actions-gh-pages@v3
        with:
          personal_token: ${{ secrets.PERSONAL_TOKEN }}
          publish_dir: build/html
          external_repository: tortoise/tortoise.github.io
          publish_branch: master
          destination_dir: ${{ github.ref_name }}
